NODE_ENV=development
PORT=3000
USERNAME=yourname
PASSWORD=123456
DATABASE=mongodb+srv://username:<password>@account.mongodb.net/natours?retryWrites=true&w=majority&appName=test
DATABASE_PASSWORD=abc12345

JWT_SECRET=my-ultra-secure
JWT_EXPIRES_IN=90d
JWT_COOKIE_EXPIRES_IN=90

EMAIL_USERNAME=username
EMAIL_PASSWORD=password
EMAIL_HOST=sandbox.smtp.mailtrap.io
EMAIL_PORT=25